{% extends "layout.html" %}

{% block container %}

{% import "_macros.html" as macro %}


<div class="relative overflow-x-auto py-5">
    <a href="agregarCurso" class="text-success bg-neutral-primary border border-success hover:bg-success hover:text-white focus:ring-4 focus:ring-neutral-tertiary font-medium leading-5 rounded-base text-sm px-10 py-2 focus:outline-none">Agregar</a>
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="text-sm text-body bg-neutral-secondary-medium">
            <tr>
                <th scope="col" class="px-6 py-3 rounded-s-base font-medium">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Descripcion
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Asignar
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Editar
                </th>
                <th scope="col" class="px-6 py-3 font-medium"> 
                    Detalles 
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Eliminar
                </th>

            </tr>
        </thead>
        <tbody>
    {% for cur in cursos %}
    <tr class="bg-neutral-primary">
        <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
            {{cur.nombre}}
        </th>
        <td class="px-6 py-4">{{cur.descripcion}}</td>
        <td class="px-6 py-4">
            <a href="{{ url_for('cursos.asignar', id_curso=cur.id) }}" class="text-fg-brand border border-brand px-4 py-2 rounded-base">Asignar</a>
        </td>
        <td class="px-6 py-4">
            <a href="{{ url_for('cursos.modificarCurso', id=cur.id) }}" class="text-warning border border-warning px-4 py-2 rounded-base">Modificar</a>
        </td>
        <td class="px-6 py-4">
            <a href="{{ url_for('cursos.detallesCurso', id=cur.id) }}" class="text-fg-brand border border-brand px-4 py-2 rounded-base">Detalles</a>
        </td>
        <td class="px-6 py-4">
            <a href="{{ url_for('cursos.eliminarCurso', id=cur.id) }}" class="text-danger border border-danger px-4 py-2 rounded-base">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</tbody>
    </table>
</div>


{% endblock %}