{% extends "layout.html" %}

{% block container %}

{% import "_macros.html" as macro %}


<div class="relative overflow-x-auto py-5">
    <a href="alumnos" class="text-success bg-neutral-primary border border-success hover:bg-success hover:text-white focus:ring-4 focus:ring-neutral-tertiary font-medium leading-5 rounded-base text-sm px-10 py-2 focus:outline-none">Agregar</a>
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class="text-sm text-body bg-neutral-secondary-medium">
            <tr>
                <th scope="col" class="px-6 py-3 rounded-s-base font-medium">
                    Nombre
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Apellidos
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Correo
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Telefono
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Editar
                </th>
                <th scope="col" class="px-6 py-3 font-medium"> 
                    Detalles 
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Eliminar
                </th>

            </tr>
        </thead>
        <tbody>
            {% for alum in alumnos %}
            <tr class="bg-neutral-primary">
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    {{alum.nombre}}
                </th>
                <td class="px-6 py-4">
                    {{alum.apellidos}}
                </td>
                <td class="px-6 py-4">
                    {{alum.correo}}
                </td>
                <td class="px-6 py-4">
                    {{alum.telefono}}
                </td>
                <td class="px-6 py-4">
                    <a href="modificar?id={{alum.id}}" class="text-warning bg-neutral-primary  border-warning hover:bg-warning hover:text-white focus:ring-4 focus:ring-neutral-tertiary font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Modificar</a>
                    
                </td>
                <td class="px-6 py-4">
                    <a href="detalles?id={{alum.id}}" class="text-fg-brand bg-neutral-primary border border-brand hover:bg-brand hover:text-white focus:ring-4 focus:ring-brand-subtle font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Detalles</a>
                    
                </td>
                <td class="px-6 py-4">
                    <a href="eliminar?id={{alum.id}}" class="text-danger bg-neutral-primary border border-danger hover:bg-danger hover:text-white focus:ring-4 focus:ring-neutral-tertiary font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Eliminar</a>
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}